@using ProyectoFinal.Models
@model IEnumerable<Libro>


@{
    ViewBag.Title = "Listar";
}

@{
    AccentureAcademyBooksEntities db = new AccentureAcademyBooksEntities();
}
<h1> @this.ViewBag.TituloPagina </h1>


@using (Html.BeginForm())
{
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Genero</th>
                <th>Editorial</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input name="FiltroTitulo" type="text" class="form-control" />
                </td>
                <td>
                    <select class="form-control" name="FiltroAutor">
                        <option>Seleccione un autor</option>
                        @foreach (Autor autor in db.Autor.ToList())
                        {
                            <option value="@autor.Id">@autor.Nombre</option>
                        }
                    </select>
                </td>
                <td>

                    <select class="form-control" name="FiltroEditorial">
                        <option>Seleccione una editorial</option>
                        @foreach (Editorial edi in db.Editorial.ToList())
                        {
                            <option value="@edi.Id">@edi.Nombre</option>
                        }
                    </select>
                </td>

                <td>

                    <select class="form-control" name="FiltroGenero">
                        <option>Seleccione un género</option>
                        @foreach (Genero gen in db.Genero.ToList())
                        {
                            <option value="@gen.Id">@gen.Genre</option>
                        }
                    </select>
                </td>

                <td class="text-right">
                    <button class="glyphicon glyphicon-search btn btn-primary"></button>
                </td>
            </tr>
            @foreach (Libro libro in this.Model)
            {
                <tr>
                    <td>@libro.Titulo</td>


                </tr>
            }
           

        </tbody>
    </table>
}



