@model IEnumerable<ProyectoFinal.Models.Editorial>

<h1> @this.ViewBag.TituloPagina </h1>

<main class="container">


    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>País de origen</th>
                <th>Especialidad</th>
                <th>Fecha de fundación</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var l in this.Model.OrderBy(i => i.Nombre))
            {
                <tr>
                    <td>@l.Nombre</td>
                    <td>@l.PaisDeOrigen</td>
                    <td>@l.Especialidad</td>
                    <td>@l.FechaDeFundacion.ToShortDateString()</td>


                </tr>
            }

        </tbody>
    </table>
</main>